/******************************************************************

Stylesheet: Variables

******************************************************************/

$black:             #222222;
$white:             #ffffff;

$gray-light:        #efefef;
$gray-medium:       #999999;
$gray-dark:			#333333;

$gold:				#c59d66;
$sand:				#f1ece6;
$blue-dark:			#3b6283;
$blue-light:		#83b3cf;
$red:				#ff0000;
$blue:				#79dbdc;
$green:				rgb(33, 206, 153);

$link-color:        $black;
$link-hover:        darken($link-color, 9%);
$text-color:        $black;
$alert:				$blue-light;