/******************************************************************

Stylesheet: Button Styles

******************************************************************/

%btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $white;
  font-size: 0.8em;
  font-weight: normal;
  padding: 1em 2em;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button
