/******************************************************************

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/

a, a:visited, button, button:visited {
	@include transition(all 0.2s ease-in-out);

	&:hover, &:focus {
		color: $gray-medium;
		border-color: $gray-medium;
	}

}

#create-container {

    #slidecontent {

		.next-btn, .create-close {

		  &:hover,
		  &:focus {
		    background-color: darken($blue-dark, 4%);
		  } // end hover

		  &:active {
		    background-color: darken($blue-dark, 5%);
		  } // end active

		}
	}
}