/******************************************************************

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body, html {
	height: 100%;
	font-family: $regular;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $green;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	margin: 0;
  	padding: 0;
}

/*********************
LINKS
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;
	border-bottom: 2px solid $black;

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
TYPO
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-family: $bold;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
	font-weight: 700;
	color: $gold;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
	font-weight: 800;
}

h3, .h3 {
	font-size: 1.3em;
	line-height: 1.333em;
	font-weight: 700;
	color: $gold;;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
CONTENT
*********************/

// Front page

#front {
	display: block;
	width: 100%;
	margin: auto;
	text-align: center;
	position: absolute;
	top: 0;

	h1 {
		color: $white;
	}

	#create-btn {
		background-color: $white;
		color: $black;
		padding: 1.2em 3em;
		border: none;
		border-radius: .2em;

		&:hover {
			background-color: $black;
			color: $white;
		}
	}

}

/******************************************************************
CREATE POLL
******************************************************************/

#create-container {
	display: none;
    background: $sand;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    min-height: 300px;
    padding-left: 0;
    margin: 0 auto;
    z-index: 9;
    top: 0;

    #slidecontent {
    	display: block;
	    padding: 20px;
	    width: 400px;
	    margin: 2em auto;
	    border: 1px solid $white;

	    li {
	    	margin-bottom: 20px;
	    	a {
	    		color: $white;
	    		border-color: $white;
	    	}
	    }

	    #chars {
	    	text-align: right;
	    }

	    .next-btn, .create-close {
	    	@extend %btn;
	    	margin-top: 2em;
	    }

		.next-btn {
		  	background-color: $red;
		}

		.create-close {
		  	background-color: $gray-medium;
		}


	}
}

// Inputs 
.create-form {

	input {
      	background: $white;
      	border: none;
      	color: $black;
      	padding: 1em;
      	outline: none;
      	margin-top: 1.6em;
    }

    .lb_wrap .lb_label.top, .lb_wrap .lb_label.bottom {
      left: 15px;
      top: -3.4em !important;
    }

    .lb_wrap .lb_label.left {
      left: 0;
    }

    .lb_label {
      font-weight: bold;
      color: #999;
      width: 300px !important;
    }

    .lb_label.active, .lb_label.top {
    	color: $gray-medium;
      	letter-spacing: 0;
      	text-transform: uppercase;
      	font-size: .6em;
    }

    .qinvisible {
    	display: none;
    }

    .qvisible {
    	display: block;
    }
}